uid = {{ user }}
gid = {{ user }}
log file = /var/log/rsyncd.log
pid file = /var/run/rsyncd.pid
address = {{ bind_ip | default(inventory_hostname) }}

[account]
max connections = 2
path = {{ drives }}
read only = false
lock file = /var/lock/account.lock

[container]
max connections = 2
path = {{ drives }}
read only = false
lock file = /var/lock/container.lock

[object]
max connections = 2
path = {{ drives }}
read only = false
lock file = /var/lock/object.lock
